package.json
package-lock.json
game.html
game01.html
icons.html
index02.html
index03.html
index04.html
loader.html
script01.js
style01.css
tailwind.config.js
tick-tack-toe.html
tick-tack-toe.js
tick-tack-toi.js
node_modules